# dependencies
/node_modules
/auth/node_modules
/rest-api/node_modules
/package-lock.json
/auth/package-lock.json
/rest-api/package-lock.json
/auth/*.env
/rest-api/*.env


# testing
/coverage
/client/coverage
/server/coverage

# production
/client/build
/server/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
