/* ButtonWrappedIcon */

.button-wrapped-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}

/* ButtonPlayVideo */

.button-play-video {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    outline: none;
}

/* ListButtonsBox */

.button-arrow_next {
    transform: rotate(180deg);
}